<section class="blog-header pt-5">
    <div class="d-flex flex-column justify-content-center align-items-center pt-5 h-100">
        <nav  class="pt-3">
            <ul class="list-unstyled d-flex gap-3 px-0">
              <li><a  class="gray-600 text-decoration-none" routerLink="/home"  >{{'footer.home'|translate }}</a></li>
              <li><img src="../../../assets/img/blogs/arrow-left.svg" alt=""></li>
              <li class=" text-white">{{'blogs.blogs'|translate }}</li>
            </ul>
          </nav>

        <h1 class="text-white">{{'blogs.latestArticles'|translate}}</h1>

    </div>
</section>


  <app-blog-cards></app-blog-cards>
  
  <app-blog-cards></app-blog-cards>