<section class="blog-header pt-5">
    <div class="d-flex flex-column justify-content-center align-items-center pt-5 h-100">
        <nav  class="pt-3">
            <ul class="list-unstyled d-flex gap-2 px-0">
              <li><a  class="gray-600 text-decoration-none" routerLink="/home"  >{{'footer.home'|translate }}</a></li>
              <li><img src="../../../assets/img/blogs/arrow-left.svg" alt=""></li>
              <li >  <a class="gray-600 text-decoration-none" routerLink="/home" >   {{'blogs.blogs'|translate }}</a></li>
              <li><img src="../../../assets/img/blogs/arrow-left.svg" alt=""></li>
              <li class=" text-white">{{'blogDetails.title'|translate }}</li>
            </ul>
          </nav>
    </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="d-flex flex-column justify-content-center ">
      <img class="img-fluid" src="../../../../assets/img/blog-details/Frame 1410103878.png" alt="">
      <div class="my-5">
        <h2 class="fw-semibold primary-500 mb-4">احصل على استشارة قانونية</h2>
<p class=" txt-300">هل لديك سؤال قانوني يهمك؟ لا تتردد في التواصل معنا للحصول على استشارة متخصصة تلبي احتياجاتك. نحن هنا لنقدم لك الدعم والخبرة اللازمة، مع توفير بيئة ودية تتيح لك طرح أسئلتك بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليوم! هل لديك سؤال قانوني يهمك؟ لا تتردد في التواصل معنا للحصول على استشارة متخصصة تلبي احتياجاتك. نحن هنا لنقدم لك الدعم والخبرة اللازمة، مع توفير بيئة ودية تتيح لك طرح أسئلتك بحرية. فريقنا من المحامين المحترفين جاهز</p>
    <p  class=" txt-300 ">لمساعدتك في جميع جوانب القانون. تواصل معنا اليو م!هل لديك سؤال قانوني يهمك؟ لا تتردد في التواصل معنا للحصول على استشارة متخصصة تلبي احتياجاتك. نحن هنا لنقدم لك الدعم والخبرة اللازمة، مع توفير بيئة ودية تتيح لك طرح أسئلتك بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليو م!هل لديك سؤال قانوني يهمك؟ لا تتردد في التواصل معنا للحصول على استشارة متخصصة تلبي احتياجاتك. نحن هنا لنقدم لك الدعم والخبرة اللازمة، مع توفير بيئة ودية تتيح لك طرح أسئلتك </p>  
<p  class=" txt-300 ">بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليوم!هل لديك سؤال قانوني يهمك؟ لا تتردد في التواصل معنا للحصول على استشارة متخصصة ودية تتيح لك طرح أسئلتك بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليوم!</p>

<p  class=" txt-300 ">بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليوم!هل لديك سؤال قانوني يهمك؟ لا تتردد في التواصل معنا للحصول على استشارة متخصصة ودية تتيح لك طرح أسئلتك بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليوم!</p>
<p  class=" txt-300 ">بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليوم!هل لديك سؤال قانوني يهمك؟ لا تتردد في التواصل معنا للحصول على استشارة متخصص ةودية تتيح لك طرح أسئلتك بحرية. فريقنا من المحامين المحترفين جاهز لمساعدتك في جميع جوانب القانون. تواصل معنا اليوم!</p>
</div>
    </div>


<div>
  <h2  class="fw-semibold primary-600 "> {{'blogDetails.latestArticles'|translate }}</h2>

  <app-blog-cards></app-blog-cards>
</div>

  </div>
</section>