<section class="faq-header pt-5">
  <div class="d-flex flex-column justify-content-center pt-5 align-items-center h-100 gap-2">
      <nav class="pt-3">
          <ul class="list-unstyled d-flex gap-2  px-0">
            <li><a  class="gray-600 text-decoration-none" routerLink="/home"  >{{'footer.home'|translate }}</a></li>
            <li><img src="../../../assets/img/blogs/arrow-left.svg" alt=""></li>
            <li class=" text-white">{{'faq.faq'|translate }}</li>
          </ul>
        </nav>
        <h1 class="text-white fw-semibold">{{'faq.faq'|translate}}</h1>
  </div>
</section>
<section class="faq-main" >
  <div class="container">
    <div class="row py-5 my-5 position-relative">
        <div class="d-flex flex-column align-items-center position-relative z-3 ">
            <h2 class="primary-500 fw-semibold"> {{'contactUs.haveQuestions'|translate}}</h2>
            <h5 class="txt-300 w-50 mt-3 mb-5 text-center fs-md">{{'contactUs.FAQs'|translate}} </h5>
    
            <div class="accordion w-75" id="accordionPanelsStayOpenExample">
                <div class="accordion-item py-1">
                  <h2 class="accordion-header">
                    <button class="accordion-button  fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        هل يمكنني استشارة محامٍ قبل اتخاذ قرار؟
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <p class="accordion-body txt-200">
                        نقدم مجموعة شاملة من الخدمات القانونية لتلبية احتياجات عملائنا. تشمل خدماتنا الاستشارات القانونية في مختلف المجالات، الترافع في القضايا أمام المحاكم، إعداد وصياغة العقود، وحل النزاعات بطريقة ودية. نحن متخصصون في مجالات مثل القضايا المدنية، التجارية، والعمالية، بالإضافة إلى القضايا الأسرية والجنائية. يهدف فريقنا إلى تقديم استشارات مخصصة تناسب ظروف كل عميل، مما يضمن الحصول على الحلول القانونية المناسبة.
                    </p>
                  </div>
                </div>
                
                <div class="accordion-item  py-1 my-3">
                  <h2 class="accordion-header">
                    <button class="accordion-button  fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        كم من الوقت يستغرق عادةً حل القضية؟                        </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <p class="accordion-body txt-200">
                        نقدم مجموعة شاملة من الخدمات القانونية لتلبية احتياجات عملائنا. تشمل خدماتنا الاستشارات القانونية في مختلف المجالات، الترافع في القضايا أمام المحاكم، إعداد وصياغة العقود، وحل النزاعات بطريقة ودية. نحن متخصصون في مجالات مثل القضايا المدنية، التجارية، والعمالية، بالإضافة إلى القضايا الأسرية والجنائية. يهدف فريقنا إلى تقديم استشارات مخصصة تناسب ظروف كل عميل، مما يضمن الحصول على الحلول القانونية المناسبة.
                    </p>
                  </div>
                </div>
    
                <div class="accordion-item  py-1">
                  <h2 class="accordion-header">
                    <button class="accordion-button  fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        ما هي سياسة الخصوصية المتعلقة بمعلوماتي الشخصية؟                        </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <p class="accordion-body txt-200">
                        نقدم مجموعة شاملة من الخدمات القانونية لتلبية احتياجات عملائنا. تشمل خدماتنا الاستشارات القانونية في مختلف المجالات، الترافع في القضايا أمام المحاكم، إعداد وصياغة العقود، وحل النزاعات بطريقة ودية. نحن متخصصون في مجالات مثل القضايا المدنية، التجارية، والعمالية، بالإضافة إلى القضايا الأسرية والجنائية. يهدف فريقنا إلى تقديم استشارات مخصصة تناسب ظروف كل عميل، مما يضمن الحصول على الحلول القانونية المناسبة.
                    </p>
                  </div>
                </div>
              </div>
        </div>
        <img class=" position-absolute vector " src="../../../../assets/img/faq/Vector (9).svg" alt="">
    </div>
  </div>

</section>
